<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Podbrothers</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in?  %>
        <li>
          <%= link_to(user_name, action: 'index', controller: 'profile', user_id: current_user.id) %>
        </li>
        <li>
          <%= link_to('Выйти', destroy_user_session_path, :method => :delete) %>
        </li>
          <li>
            <%= link_to('Мои подкасты', action: 'list', controller: 'podcast') %>
          </li>
          <li>
            <%= link_to('Добавить подкаст', action: 'form', controller: 'podcast') %>
          </li>
      <% else %>
          <li>
            <%= link_to('Войти', new_user_session_path)  %>
          </li>
          <li><%= link_to('Регистрация', new_user_registration_path)  %></li>
      <% end %>
    </ul>


  </div>
</nav>